<?xml version="1.0"?>
<launch>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->
  
  <!-- BEGIN ROBOT 1-->
  <group ns="raspi_0">
    <param name="tf_prefix" value="raspi_0_tf" />
    <include file="$(find raspimouse_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0 -y 0 -z 0" />
      <arg name="robot_namespace" value="raspi_0" />
    </include>
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="raspi_1">
    <param name="tf_prefix" value="raspi_1_tf" />
    <include file="$(find raspimouse_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 1 -y 0 -z 0" />
      <arg name="robot_namespace" value="raspi_1" />
    </include>
  </group>
  
  <!-- BEGIN ROBOT 3-->
  <group ns="raspi_2">
    <param name="tf_prefix" value="raspi_2_tf" />
    <include file="$(find raspimouse_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -1 -y 0 -z 0" />
      <arg name="robot_namespace" value="raspi_2" />
    </include>
  </group>

  <!-- BEGIN ROBOT 4-->
  <group ns="raspi_3">
    <param name="tf_prefix" value="raspi_3_tf" />
    <include file="$(find raspimouse_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0 -y 1 -z 0" />
      <arg name="robot_namespace" value="raspi_3" />
    </include>
  </group>
  
    <!-- BEGIN ROBOT 5-->
  <group ns="raspi_4">
    <param name="tf_prefix" value="raspi_4_tf" />
    <include file="$(find raspimouse_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0 -y -1 -z 0" />
      <arg name="robot_namespace" value="raspi_4" />
    </include>
  </group>

  <!-- BEGIN ROBOT 6-->
  <group ns="raspi_5">
    <param name="tf_prefix" value="raspi_5_tf" />
    <include file="$(find raspimouse_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 1 -y 1 -z 0" />
      <arg name="robot_namespace" value="raspi_5" />
    </include>
  </group>
  
  <!-- BEGIN ROBOT 7-->
  <group ns="raspi_6">
    <param name="tf_prefix" value="raspi_6_tf" />
    <include file="$(find raspimouse_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -1 -y 1 -z 0" />
      <arg name="robot_namespace" value="raspi_6" />
    </include>
  </group>

  <!-- BEGIN ROBOT 8-->
  <group ns="raspi_7">
    <param name="tf_prefix" value="raspi_7_tf" />
    <include file="$(find raspimouse_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 1 -y -1 -z 0" />
      <arg name="robot_namespace" value="raspi_7" />
    </include>
  </group>
  
    <!-- BEGIN ROBOT 9-->
  <group ns="raspi_8">
    <param name="tf_prefix" value="raspi_8_tf" />
    <include file="$(find raspimouse_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -1 -y -1 -z 0" />
      <arg name="robot_namespace" value="raspi_8" />
    </include>
  </group>

  <!-- BEGIN ROBOT 10-->
  <group ns="raspi_9">
    <param name="tf_prefix" value="raspi_9_tf" />
    <include file="$(find raspimouse_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 2 -y 0 -z 0" />
      <arg name="robot_namespace" value="raspi_9" />
    </include>
  </group>
  
    <!-- BEGIN ROBOT 11-->
  <group ns="raspi_10">
    <param name="tf_prefix" value="raspi_10_tf" />
    <include file="$(find raspimouse_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0 -y 2 -z 0" />
      <arg name="robot_namespace" value="raspi_10" />
    </include>
  </group>

  <!-- BEGIN ROBOT 12-->
  <group ns="raspi_11">
    <param name="tf_prefix" value="raspi_11_tf" />
    <include file="$(find raspimouse_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -2 -y 0 -z 0" />
      <arg name="robot_namespace" value="raspi_11" />
    </include>
  </group>
  
  <!-- BEGIN ROBOT 13-->
  <group ns="raspi_12">
    <param name="tf_prefix" value="raspi_12_tf" />
    <include file="$(find raspimouse_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0 -y -2 -z 0" />
      <arg name="robot_namespace" value="raspi_12" />
    </include>
  </group>

  <!-- BEGIN ROBOT 14-->
  <group ns="raspi_13">
    <param name="tf_prefix" value="raspi_13_tf" />
    <include file="$(find raspimouse_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -2 -y -2 -z 0" />
      <arg name="robot_namespace" value="raspi_13" />
    </include>
  </group>
  
    <!-- BEGIN ROBOT 15-->
  <group ns="raspi_14">
    <param name="tf_prefix" value="raspi_14_tf" />
    <include file="$(find raspimouse_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 2 -y 2 -z 0" />
      <arg name="robot_namespace" value="raspi_14" />
    </include>
  </group>

  <!-- BEGIN ROBOT 16-->
  <group ns="raspi_15">
    <param name="tf_prefix" value="raspi_15_tf" />
    <include file="$(find raspimouse_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 2 -y -1 -z 0" />
      <arg name="robot_namespace" value="raspi_15" />
    </include>
  </group>
  
  <!-- BEGIN ROBOT 17-->
  <group ns="raspi_16">
    <param name="tf_prefix" value="raspi_16_tf" />
    <include file="$(find raspimouse_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -2 -y 2 -z 0" />
      <arg name="robot_namespace" value="raspi_16" />
    </include>
  </group>

  <!-- BEGIN ROBOT 18-->
  <group ns="raspi_17">
    <param name="tf_prefix" value="raspi_17_tf" />
    <include file="$(find raspimouse_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 2 -y 1 -z 0" />
      <arg name="robot_namespace" value="raspi_17" />
    </include>
  </group>
  
    <!-- BEGIN ROBOT 19-->
  <group ns="raspi_18">
    <param name="tf_prefix" value="raspi_18_tf" />
    <include file="$(find raspimouse_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 1 -y 2 -z 0" />
      <arg name="robot_namespace" value="raspi_18" />
    </include>
  </group>

  <!-- BEGIN ROBOT 20-->
  <group ns="raspi_19">
    <param name="tf_prefix" value="raspi_19_tf" />
    <include file="$(find raspimouse_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 1 -y -2 -z 0" />
      <arg name="robot_namespace" value="raspi_19" />
    </include>
  </group>
  
</launch>